 <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion bg-info" id="accordionSidebar" >

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa fa-building"></i>
                </div>
                <div class="sidebar-brand-text mx-3">PJobPortal</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Job Portal
            </div>

            <!-- Nav Item - House Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#hostel"
                    aria-expanded="true" aria-controls="hostel">
                    <i class="fa fa-building" aria-hidden="true"></i>
                    <span>Job</span>
                </a>
                <div id="hostel" class="collapse" aria-labelledby="hostel" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Job Operation</h6>
                        <a class="collapse-item" href="{% url 'add_job' %}">Add New Job</a>
                        <a class="collapse-item" href="{% url 'all_job' %}">All Job Posted</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

             <li class="nav-item ">
                <a class="nav-link" href="{% url 'crawl' %}">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>Web Crawler</span></a>
            </li>  

            <!-- Divider -->
            <hr class="sidebar-divider">

             <li class="nav-item ">
                <a class="nav-link" href="{% url 'all_cv' %}">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>All CV</span></a>
            </li>    

            <!-- Divider -->
            <hr class="sidebar-divider">

             <li class="nav-item ">
                <a class="nav-link" href="{% url 'all_message' %}">
                    <i class="fa fa-inbox" aria-hidden="true"></i>
                    <span>All Chat</span></a>
            </li>            


           <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
