
<style type="text/css">
    .navbar{
        border-bottom: 1px solid #1ac;
        background-color: rgba(0,0,0,0.9);
        font-family: HeadingNowTrial !important;

    }
    header{
        background-color: #000 !important;
    }

    .navbar-brand{
        font-size: 20px;
    }
</style>
    <!-- Navbar -->
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
        <a class="navbar-brand" href="{% url 'home' %}">P<span class="text-info">Job</span>Portal</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
            data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="">Contact</a>
                </li>
                {% if user.is_authenticated == True %}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
                


            </ul>
        </div>
    </nav>
</header>
