{% extends 'Dashboard/base.html' %}


{% load crispy_forms_tags %}
{% block content %}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		
		<div class="row bg-info">
			<h4 class="py-2 mr-auto ml-auto text-white">{{request.user.username}} Your Chats</h4>
			<div class="col-md-12 bg-white ">
				{% for message in messages %}
				<div class="row p-3 m-3 d-flex align-items-center border" style="color: #f2f2f2">
					<div class="col-md-8">
						<div class="text-dark">
							<span class="badge badge-info">{{ message.job_anonymous}}</span>
							<!-- {% for l in message.chat.all|slice:":1" %}
							<p>{{l.message}}</p>
							{% endfor %} -->
							<p>All Messages Concerning <span class="font-weight-bold text-info">{{message.job_anonymous}}</span></p>
						</div>
					</div>
					<div class="col-md-2">
					<a href="{% url 'message' message.id %}" class="btn btn-dark">View Chat</a>
					</div>
				</div>
				{% endfor%}

				
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
{% endblock content %}